
<div class="aside aside-left fl">
	<ul>
	{% if page.type == 'index' %}
	    <li class="active selected"><a href="{{ site.baseurl }}/index.html">Home</a></li>
	{% else %}
	 	<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
 	{% endif %}

 	{% if page.type == 'web' %}
	    <li class="active selected"><a href="{{ site.baseurl }}/artype/feds.html">Web</a></li>
	{% else %}
	 	<li><a href="{{ site.baseurl }}/artype/feds.html">Web</a></li>
 	{% endif %}

	{% if page.type == 'think' %}
	    <li class="active selected"><a href="{{ site.baseurl }}/artype/chimaes.html">狂想</a></li>
	{% else %}
	 	<li><a href="{{ site.baseurl }}/artype/chimaes.html">狂想</a></li>
 	{% endif %}
	</ul>
</div>