<div class="aside aside-right fr">
	<a href="javascript:;" class="pag"><i class="icon-pk">&#xe6fd;</i></a>
	<ul>
		<li class="clearfix">
			<div class="avatar fl"></div>
			<div class="fl">
				<p class="name">花名：新周（xinchou）</p>
				<p class="job">职业：前端工程师</p>
			</div>
		</li>
		<li class="linkto"><a href="https://github.com/lovepk" target="_blank" rel="noopener noreferrer"><i class="icon-pk">&#xea0a;</i>https://github.com/lovepk</a></li>
		<li class="linkto"><a href="https://weibo.com/5120327495/profile?rightmod=1&wvr=6&mod=personinfo" target="_blank" rel="noopener noreferrer"><i class="icon-pk">&#xe60f;</i>新周同学</a></li>
	</ul>
</div>