<div class="lvpk-header">
	<div class="adv-wrapper">
		<div class="adv-define">~~~///(^v^)\\\~~~</div>
	</div>
	<nav id="lvpk-nav">
		<div class="g-n-content">
			<ul class="lt768-nc">
				<li>
					<a href="{{ site.baseurl }}/index.html"><i class="icon-pk">&#xe6ab;</i></a>
				</li>
				<li>
					<a href="#">狂想</a>
				</li>
			</ul>
			<ul class="gt768-nc">
				<li>
					<a href="{{ site.baseurl }}/index.html"><i class="icon-pk">&#xe6ab;</i></a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/artype/feds.html">Web</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/artype/chimaes.html">狂想</a>
				</li>
			</ul>
		</div>
	</nav>
</div>