<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<!-- <script src="{{ site.baseurl }}/libs/amfe-flexible.min.js"></script> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover maximum-scale=1, minimum-scale=1, user-scalable=no">
	<base target="_blank" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/pages/index.css">
	<audio src="{{ site.baseurl }}/libs/data/xinlove.mp3?t=20171219" loop="-1" autoplay></audio>
	<title>pklove's blog</title>
</head>
<body>
	{% include header.html %}
	<div class="lvpk-content clearfix">
		{% include aside-left.html %}
		{{content}}
		{% include aside-right.html %}
	</div>
	<form>
		<button id="play-audio" type="hidden"></button>
	</form>
	
</body>
</html>
<script src="{{ site.baseurl }}/libs/jquery-1.7.min.js"></script>
<script src="{{ site.baseurl }}/libs/js.cookie.min.js"></script>
<script src="{{ site.baseurl }}/dist/public.js"></script>
