@charset "utf-8";
@import "../base/public";

.aside{
	&.adsorb{
		position: sticky;
		top: 0;
	}
}
.aside-left {
	width: 100px;
	margin-left: -110px;
	ul{
		background-color: #333;
		li{
			height: 40px;
			line-height: 40px;
			a{
				display: block;
				box-sizing: border-box;
				padding-left: 26px;
				color: #fff;
				border-left: 4px solid #333;
				font-size: 16px;
				&:hover{
					border-left: 4px solid #333;
					background-color: #fff;
					color: #333;
				}
			}
		}
		.active{
			a{
				color: #333;
				background-color: #fff;
				border-left-color: #333;
			}
		}
	}
}
.aside-right {
	position: relative;
	width: 280px;
	margin-right: -290px;
	ul{
		border-radius: 7px;
		background-color: #fff;
		padding: 10px 20px;
		li{
			line-height: 25px;
			a{
				font-size: 14px;
				color: #66D9EF;
			}
		}
	}
	.pag {
		position: absolute;
		font-size: 30px;
		left: -28px;
		top: 20px;
		color: #FFCCCC;
		display: none;
	}
	.avatar {
		margin-right: 15px;
		margin-bottom: 5px;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background-image: url(http://%77%78%32%2E%73%69%6E%61%69%6D%67%2E%63%6E/orj360/005Awn5lly1foyvzlfn7cj31kw16okjl.jpg);
		background-size: 100% 100%;
	}
	.name {
		font-size: 14px;
		color: #999;
	}
	.job {
		font-size: 14px;
		color: #333;
		font-family: "微软雅黑";
	}
	.linkto {
		padding-left: 67px;
		a {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 12px;
			i {
				position: relative;
				top: 2px;
				margin-right: 10px;
				font-size: 16px;
				color: #333;
			}
		}
	}
}