@charset "utf-8";
@import "../base/public";

.aside{
	&.adsorb{
		position: sticky;
		top: 0;
	}
}
.aside-left {
	width: 100px;
	margin-left: -110px;
	ul{
		background-color: #333;
		li{
			height: 40px;
			line-height: 40px;
			a{
				display: block;
				box-sizing: border-box;
				padding-left: 26px;
				color: #fff;
				border-left: 4px solid #333;
				&:hover{
					border-left: 4px solid #333;
					background-color: #fff;
					color: #333;
				}
			}
		}
		.active{
			a{
				color: #333;
				background-color: #fff;
				border-left-color: #333;
			}
		}
	}
}
.aside-right {
	width: 280px;
	margin-right: -290px;
	ul{
		background-color: #fff;
		padding: 10px 20px;
		li{
			line-height: 25px;
			a{
				font-size: 14px;
				color: #66D9EF;
			}
		}
		
	}
}