@charset "utf-8";
@import "../base/public";

.lvpk-header {
	overflow: hidden;
	width: 100%;
}
.adv-wrapper{
	position: absolute;
	height: 40px;
	width: 100%;
	line-height: 40px;
	background-color: #444;	
	left: 0;
	top: -40px;
	.adv-define{
		padding: 0 25px;
		font-size: 12px;
		text-align: right;
		color: #a8a8aa;
	}
}
#lvpk-nav{
	height: 45px;
	width: 100%;
	background-color: #333;
	.g-n-content {
		line-height: 45px;
	}
	.lt768-nc{
		display: none;
		.icon-btns{
			text-align: justify;
			height: 45px;
			a{
				color: #fff;
			}
			&:after{
				content: '';
				display: inline-block;
				width: 100%;
				font-size: 0;
				line-height: 0;
			}
		}
		
	}
	.icon-pk {
		font-size: 18px;
	}
	.gt768-nc{
		max-width: 960px;
		margin: 0 auto;
		height: 45px;
		text-align: justify;
		a{
			color: #fff;
			font-size: 14px;
			display: block;
		}
		&:after{
			content: '';
			display: inline-block;
			width: 100%;
			font-size: 0;
			line-height: 0;
		}
		li{
			display: inline-block;
			position: relative;
		}
	}
}