@charset "utf-8";
@import "mixins";

.fix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.clearfix:after{
	content: '';
	display: block;
	visibility: hidden;
	clear:both;
	height: 0;
}
