@charset "utf-8";
@import "compass/css3";
@import "mixins";
@import "media";

.fr{
	float: right;
}
.fl{
	float: left;
}
.clearfix:after{
	content: '';
	display: block;
	visibility: hidden;
	clear:both;
	height: 0;
}
